/* Base Card Styles */
.card {
  --card-radius: 4.55% / 3.5%;
  --grain: url("/img/grain.webp");
  --glitter: url("/img/glitter.png");
  --glittersize: 25%;
  --space: 5%;
  --angle: 133deg;
  --imgsize: cover;
  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);
  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: var(--card-radius);
  transform-style: preserve-3d;
  transform: perspective(800px)
    translate3d(var(--translateX, 0px), var(--translateY, 0px), 0px)
    scale(var(--card-scale, 1)) rotateX(var(--rotateX, 0deg))
    rotateY(var(--rotateY, 0deg));
  backface-visibility: hidden;
  will-change: transform;
  transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card.darkness {
  --card-glow: hsl(189, 77%, 27%);
}

.card:hover {
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card.tracking {
  transition: none;
}

.card > *:not(.card__shine):not(.card__glare):not(.card__grain) {
  position: relative;
  z-index: 0;
  isolation: isolate;
}

/* Effect Layers */

/* Base Effect Layers */
.card__shine,
.card__glare,
.card__grain {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: var(--card-radius);
  overflow: hidden;
}

/* Shine Layer */
.card__shine {
  display: grid;
  z-index: 2;
  transform: translateZ(1px);
  overflow: hidden;
  background: transparent;
  mix-blend-mode: color-dodge;
  opacity: var(--card-opacity);
}

.card__shine:before,
.card__shine:after {
  --sunpillar-clr-1: var(--sunpillar-5);
  --sunpillar-clr-2: var(--sunpillar-6);
  --sunpillar-clr-3: var(--sunpillar-1);
  --sunpillar-clr-4: var(--sunpillar-2);
  --sunpillar-clr-5: var(--sunpillar-3);
  --sunpillar-clr-6: var(--sunpillar-4);

  content: "";
  grid-area: 1 / 1;
  transform: translateZ(1px);
  border-radius: var(--card-radius);
}

.card__shine:after {
  --sunpillar-clr-1: var(--sunpillar-6);
  --sunpillar-clr-2: var(--sunpillar-1);
  --sunpillar-clr-3: var(--sunpillar-2);
  --sunpillar-clr-4: var(--sunpillar-3);
  --sunpillar-clr-5: var(--sunpillar-4);
  --sunpillar-clr-6: var(--sunpillar-5);

  transform: translateZ(1.2px);
}

/* Glare Layer */
.card__glare {
  z-index: 3;
  transform: translateZ(1.41px);
  transition: opacity 0.2s ease-out;
  will-change: opacity, background-image;
  mix-blend-mode: overlay;
}

/* Grain Layer */
.card__grain {
  z-index: 4;
  transform: translateZ(1.5px);
  background-image: url("/img/grain.webp");
  background-size: cover;
  background-position: center;
  mix-blend-mode: overlay;
  opacity: 0.4;
}

/* Masking Rules */

.card.masked .card__shine,
.card.masked .card__shine:before,
.card.masked .card__shine:after {
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center center;
  mask-position: center center;
}
